#TimePanel {
    background-color: red;
    border-radius: 10px;
}

#TimePanel QLabel {
    color: white;
}

#today {
    font-size: 16px;
}

#day, #date {
    font-size: 24px;
}

#time {
    font-size: 29px;
    font-weight: 500;
}

#line {
    max-height: 1px;
    background-color: rgba(255, 255, 255, 0.3);
}