#WeatherPanel{  
    background-color: red;
    border-radius: 10px;
}
#WeatherPanel  QLabel{
    color: white
}
#position,#minmax_label{
    font-size:16px;
}
#city{
    font-size:44px;
}
#temp_label{
    font-size:74px;
}
#desc_label{
    font-size:24px;
}
#line {
    max-height: 1px;
    background-color: red;
}
